{% load static %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实验</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body>

    <div id="dynamicDiv">
        <h1 id="dynam" class="dynam-text">点击开始实验</h1>
    </div>
    <div id="autoselect" style="display: none;">
        <div class="sel" id="sel1">实验1</div>
        <div class="sel" id="sel2">实验2</div>
        <div class="sel" id="sel3">实验3</div>
        <div class="sel" id="sel4">实验4</div>
        <div class="sel" id="sel5">实验5</div>
    </div>
    <div id="taskDecision" class="choice" style="display: none">
        <p class="choice-text">请做出选择</p>
        <div class="button-container">
            <button onclick="" id="bt1" class="cbut">1</button>
            <button onclick="" id="bt2" class="cbut">2</button>
        </div>
    </div>
    <script src="{% static 'index.js' %}" defer></script>
</body>

</html>