body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    background-color: #ffffff;

}

.dynamicDiv {
    /* width: 80vw; */
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    width: 100%; /* 占满宽度 */
    height: 100%; /* 占满高度 */
}
.dynam-text{
    font-size: 50px;
    width: 100%; /* 占满宽度 */
    height: 100%; /* 占满高度 */
}
.hidden {
    display: none;
}

.cbut {
    background-color: black;
    /* 黑色背景 */
    color: white;
    /* 白色字体 */
    padding: 70px 80px;
    /* 增加按钮尺寸 */
    border: none;
    border-radius: 5px;
    /* 圆角边框 */
    font-size: 20px;
    /* 增加字体大小 */
    cursor: pointer;
    font-family: Arial, sans-serif;

}

.button-container {
    display: flex;
    justify-content: center;/* 居中按钮 */
    gap: 80px; /* 按钮间距 */
    margin-top: 200px; /* 增加上边距 */
}

.cbut:hover {
    background-color: darkgray;
    /* 悬停效果 */
}

.choice-text {
    text-align: center;
    font-size: 80px;
    /* 可以根据需要调整字体大小 */
    margin-bottom: 50px;
    
}

.choice {
    display: flex; /* 使用 flexbox */
    flex-direction: column; /* 垂直排列内容 */
    justify-content: center; /* 垂直居中内容 */
    align-items: center; /* 水平居中内容 */
    text-align: center;
    font-size: 32px;
    padding: 36px;
    border-radius: 10px;
    background-color: white;
    width: 100%; /* 占满宽度 */
    height: 65%; /* 占满高度 */
    max-width: 600px; /* 最大宽度 */

}

body {
    font-family: Arial, sans-serif;
}

.sel {
    display: inline-block;
    /* 使元素在同一行显示 */
    padding: 10px;
    /* 内边距 */
    margin: 5px;
    /* 外边距 */
    border: 2px solid #000;
    /* 边框 */
    font-size: 24px;
    /* 字体大小 */
    font-weight: bold;
    /* 字体加粗 */
    cursor: pointer;
    /* 鼠标悬停时显示手形光标 */
    background-color: #ffffff;
    /* 背景颜色 */
    transition: background-color 0.3s ease;
    /* 平滑过渡效果 */
}

/* @media screen and (min-width: 0) {
    :fullscreen .sel,
    :webkit-full-screen .sel,
    :moz-full-screen .sel,
    :ms-fullscreen .sel {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 2px solid #000;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        background-color: #f9f9f9;
    }
} */
/* 鼠标悬停时改变背景颜色 */
.sel:hover {
    background-color: #ddd;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.radio-group {
    margin-bottom: 10px;
}

.selected-experiment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}